[submodule "mutilate"]
	path = mutilate
	url = https://github.com/jkrbs/mutilate.git
[submodule "wrk"]
	path = wrk
	url = https://github.com/giltene/wrk2.git
[submodule "hyperturtle-qemu"]
	path = hyperturtle-qemu
	url = git@github.com:OriBenZur/hyperturtle-qemu.git
[submodule "hyperturtle-linux"]
	path = hyperturtle-linux
	url = git@github.com:OriBenZur/hyperturtle-linux.git
	branch = nestedVirt-HUC
